<!-- Home Page --> 
	<div class="jumbotron">
		<h2>Discover how tech can transform your business!</h2>
		<p><img src="img/infotec_site_logo.png"></p>
		<p>Whether you're developing a mobile app, traversing social media, exploring how big data and analytics can bring value, or managing your company's security strategy, here at Infotec 2014 you can gain insight from the national experts.  Engage the leading edge of tech and spark new connections with other technology, business, and marketing professionals at the largest Midwest conference of its kind.</p>
		<p><a class="btn btn-lg btn-success" href="#" role="button">View Tracks</a></p>
	</div>
<!-- End Home Page -->